:root {
    --bg-main: #e6e8ea;       /* พื้นหลังหลัก */
    --box-bg: #d1d5db;        /* กล่องพื้นหลัง */
    --highlight: #6b7280;     /* สีเน้น / header */
    --text-main: #1f2937;     /* สีตัวหนังสือ */
    --accent: #9ca3af;        /* สีขอบหรือเงา */
    --green-bar: #6ee7b7;     /* สำหรับกราฟภาษา */
  }

  body {
  font-family: sans-serif;
  margin: 0;
  background: var(--bg-main);
  padding: 3px 5px;
  display: flex;
  justify-content: center;
  color: var(--text-main);
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 40px auto;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.profile-left, .resume-content {
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  background: var(--box-bg);
  flex: 1 1 100%;
}

@media (min-width: 768px) {
  .profile-left {
    width: 30%;
  }

  .resume-content {
    width: 70%;
  }
}

.profile-header,
.address-box, .portfolio-box,
.edu-box, .exp-box {
  background-color: var(--highlight);
  color: white;
  padding: 16px;
  border-radius: 6px;
  margin-top: 16px;
}

.level {
  background-color: var(--green-bar);
}
