body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  .container {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: 30px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 30px;
  }
  .profile-left {
    flex: 0 0 250px;
  }
  .profile-img {
    width: 65%;
    border-radius: 10px;
    border: 1.5px dashed #283b44;
    margin-bottom: 20px;
  }
  .sample-img {
    width: 65%;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .resume-content {
    flex: 1;
  }
  h1 {
    margin: 0;
    font-size: 1.8em;
    color: #224143;
  }
  h5 {
    font-size: 1.2em;
    background-color: #224143;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 25px;
  }
  /* h3 {
    margin-top: 0;
  } */
  p, li {
    font-size: 0.8em;
    line-height: 1.6;
    margin: 5px 0;
  }
  ul {
    padding-left: 20px;
  }
  .contact, .section {
    margin-top: 15px;
  }

  .exp {
    margin-top: 10px;
  }

  .label {
    font-weight: bold;
  }
  @media print {
    @page {
      size: A4 portrait;
      margin: 1cm;
    }
    body {
      background: white;
    }
    .container {
      box-shadow: none;
      margin: 0;
    }
  }


  .language-skill p {
    margin: 0.3em 0 0.2em;
    font-size: 0.95em;
  }
  
  .level {
    display: flex;
    gap: 4px;
    margin-bottom: 0.6em;
  }
  
  .dot {
    width: 15px;
    height: 2px;
    border-radius: 5%;
    background-color: #20383a; /* สีเทาอ่อนสำหรับช่องว่าง */
  }
  
  .dot.filled {
    background-color: #319c1e; /* สีเขียวสำหรับระดับที่มี */
  }

  /* .foods-img {
    width: 250px;
    height: 200px;
  } */

  